.sis-report-table-container {
  margin-top: 2em !important;
}

.delete-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hoverable-item:hover {
  filter: brightness(0.7);
}
