/* Overriding some of the the semantic-ui styles */
.sis-report-table td {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.delete-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Overriding some of the the semantic-ui styles */
.sis-report-table-accordion {
  margin-top: 0px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.hoverable-item:hover {
  filter: brightness(0.7);
}