EDUWEB_URL=https://www.avoin.helsinki.fi/eduweb/api/?course=
EDUWEB_TOKEN=<EDUWEB_TOKEN>
EMAIL_ENABLED=false
MOOC_TOKEN=<MOOC_TOKEN>
MOOC_ADDRESS=https://www.mooc.fi/api/
NEW_MOOC_TOKEN=<NEW_MOOC_TOKEN>
NEW_MOOC_ADDRESS=https://courses.mooc.fi/api/v0/
IMPORTER_DB_API_URL=https://importer.cs.helsinki.fi/api/importer/
IMPORTER_DB_API_TOKEN=<IMPORTER_DB_API_TOKEN>
