version: '2'
services:
  db:
    image: postgres:10.6
    restart: always
    environment:
      PGDATA: /data/test
    volumes:
      - pg-data:/data/test
    ports:
      - '5432:5432'

volumes:
  pg-data: