version: '3.5'

services:
  app:
    build:
      context: ./
      dockerfile: config/dev.Dockerfile
    image: suotar_dev
    volumes:
      - ./:/usr/src/app
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      - NODE_ENV=development
    ports:
      - 8000:8000
    container_name: suotar_dev
    env_file: ".env"
  db:
    image: postgres:13.1
    container_name: suotar_db
    command: ['postgres', '-c', 'log_statement=all']
    environment:
      - PGDATA=/data
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pg_data:/data
  adminer-suotar:
    environment:
      - ADMINER_DESIGN=pepa-linha
      - ADMINER_DEFAULT_SERVER=db
    image: adminer:5.4.1
    ports:
      - 8080:8080 # localhost:8080/?pgsql=db&username=postgres&db=postgres&ns=public

volumes:
  pg_data:
