.navbar {
  height: 5em;
  background-color: whitesmoke;
}

.sitecontent {
  min-height: calc(100vh - 13em);
  margin: 20px;
}

.footer {
  clear: both;
  height: 5em;
  background-color: whitesmoke;
}

.input {
  float: left;
  margin-right: 0px;
}

.date-picker {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0);
  width: 196px;
  height: 38px;
  background: #fff;
  display: inline-block;
  padding: .78571429em 2.1em .78571429em 1em;
  color: rgba(0,0,0,.87);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
  transition: width .1s ease,-webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease,width .1s ease;
  transition: box-shadow .1s ease,width .1s ease,-webkit-box-shadow .1s ease;
}