.navbar {
  height: 5em;
  background-color: whitesmoke;
}

.sitecontent {
  min-height: calc(100vh - 11em);
  margin: 2rem;
  padding: 2rem 0;
}

.sitecontent-narrow {
  min-height: calc(100vh - 11em);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
}

.footer {
  clear: both;
  height: 5em;
  background-color: whitesmoke;
}

.input {
  float: left;
  margin-right: 0px;
}

.ui.selection.dropdown .menu {
  max-height: 35em;
}

.date-picker {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0);
  width: 196px;
  height: 38px;
  background: #fff;
  display: inline-block;
  padding: 0.78571429em 2.1em 0.78571429em 1em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  -webkit-transition: width 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: width 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease, width 0.1s ease;
  transition: box-shadow 0.1s ease, width 0.1s ease, -webkit-box-shadow 0.1s ease;
}
