name: Build, test and release staging

on:
  push:
    branches:
      - trunk

jobs:
  build-lint-and-test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build end to end
        run: docker-compose -f docker-compose.e2e.yml build

      - name: Lint
        run:  docker-compose -f docker-compose.e2e.yml run e2e npm run lint

      - name: Test
        run: npm run test

  publish:
    runs-on: ubuntu-20.04
    needs: build-lint-and-test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: toska/suoritustarkistin:trunk
          push: true
          build-args: |
            BASE_PATH=/staging/suoritustarkistin/
            NODE_ENV=staging

  notify:
    runs-on: ubuntu-20.04
    needs: [build-lint-and-test, publish]
    steps:
      - name: Notify failed
        if: failure()
        env:
          SLACKBOT_URL: ${{ secrets.SLACKBOT_URL }}
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          curl --silent -X POST -H 'Content-type: application/json' --data "{\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"Test run failed on *${GITHUB_REF##*/}* :kurkkumopo:\",\"emoji\":true}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"Uh oh, <https://github.com/UniversityOfHelsinkiCS/suoritustarkistin/actions/runs${GITHUB_RUN_ID}|workflow> run by *$GITHUB_ACTOR* has failed on branch ${GITHUB_REF##*/}. \n Commit: <https://github.com/UniversityOfHelsinkiCS/suoritustarkistin/commit${GITHUB_SHA}|${GITHUB_SHA:6}>\"}},{\"type\":\"section\",\"text\":{\"type\":\"plain_text\",\"text\":\"Commit message: \n $COMMIT_MESSAGE\",\"emoji\":true},\"accessory\":{\"type\":\"image\",\"image_url\":\"https://cataas.com/cat/fail?_=$GITHUB_RUN_ID\",\"alt_text\":\"cat failing\"}}]}" "$SLACKBOT_URL"
      - name: Notify success
        if: success()
        env:
          SLACKBOT_URL: ${{ secrets.SLACKBOT_URL }}
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          curl --silent -X POST -H 'Content-type: application/json' --data "{\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"Suotar *${GITHUB_REF##*/}* started deployment by *$GITHUB_ACTOR* \n\n $COMMIT_MESSAGE\"},\"accessory\":{\"type\":\"image\",\"image_url\":\"https://cataas.com/cat/gif?_=$GITHUB_RUN_ID\",\"alt_text\":\"cute cat\"}},{\"type\":\"actions\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Open Suotar :suotar:\",\"emoji\":true},\"url\":\"https://opetushallinto.cs.helsinki.fi/staging/suoritustarkistin/\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Github\",\"emoji\":true},\"url\":\"https://github.com/UniversityOfHelsinkiCS/suoritustarkistin\"}]}]}" "$SLACKBOT_URL"
