name: Build, test and release staging

on:
  push:
    branches:
      - trunk

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17
      - name: Install eslint
        run: npm install eslint
      - name: Run lint
        run: npm run lint

  build-and-test:
    runs-on: ubuntu-20.04
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: npm run test

  publish:
    runs-on: ubuntu-20.04
    needs: [lint, build-and-test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: toska/suoritustarkistin:trunk
          push: true
          build-args: |
            BASE_PATH=/staging/suoritustarkistin/
            NODE_ENV=staging
          secrets: |
            "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_TOKEN }}"

  report_success:
    name: 'Report deployment success to Suotar-channel'
    runs-on: ubuntu-latest
    needs:
      - lint
      - build-and-test
      - publish
    if: success()
    steps:
      - name: 'Send notification to Slack'
        uses: UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.SLACKBOT_URL }}
          message-type: deployment
          softa-url: https://opetushallinto.cs.helsinki.fi/staging/suoritustarkistin/
          deployment-target: staging

  report_failure:
    name: 'Report test failure to Suotar-channel'
    runs-on: ubuntu-latest
    needs:
      - lint
      - build-and-test
      - publish
    if: failure()
    steps:
      - name: 'Send notification to Slack'
        uses: UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.SLACKBOT_URL }}
          message-type: test-failure
