name: Build, test and release staging

on:
  push:
    branches:
      - trunk

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17
      - name: Install eslint
        run: npm install eslint
      - name: Run lint
        run: npm run lint

  build-and-test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Test
        run: npm run test

  publish:
    runs-on: ubuntu-latest
    needs: [lint, build-and-test]

    steps:
      - uses: actions/checkout@v5

      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: suoritustarkistin
          tags: staging ${{ github.sha }}
          containerfiles: |
            ./Dockerfile
          build-args: |
            BASE_PATH=/suotar/
            NODE_ENV=staging

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}

  report_success:
    name: 'Report deployment success to Suotar-channel'
    runs-on: ubuntu-latest
    needs:
      - lint
      - build-and-test
      - publish
    if: success()
    steps:
      - name: 'Send notification to Slack'
        uses: UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.SLACKBOT_URL }}
          message-type: deployment
          softa-url: https://toska-staging.cs.helsinki.fi/suotar
          deployment-target: staging

  report_failure:
    name: 'Report test failure to Suotar-channel'
    runs-on: ubuntu-latest
    needs:
      - lint
      - build-and-test
      - publish
    if: failure()
    steps:
      - name: 'Send notification to Slack'
        uses: UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.SLACKBOT_URL }}
          message-type: test-failure
